<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{>catalogCss}}
</head>
<body>


<main>

    <section class="shop">
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>
        <div class="shop-item">
            <div class="item-img"></div>
            <ul class="item-description">
                <li class="item-name">aboba</li>
                <li class="item-price">300$</li>
            </ul>
        </div>

    </section>
</main>
</body>

