<head>
    <title>Доставка</title>
    {{> styles}}
    {{> deliveryCss}}
</head>
<body>


<main>
    <div class="container">
        <div class="fetch-data">
            <template id="user-template"><p class="fetched-data"></p></template>
            <div class="spinner"></div>
        </div>
        <div class="button-div">
            <button type="submit" class="submit-button">Показать последний заказ</button>
        </div>
    </div>
</main>
</body>
