<!doctype html>
<html lang="en">
<head>
    {{> registrationCss}}

</head>
<body>


<main>
    <div class="reg-container">
        <div class="form-container">
            <form>
                <span class="sign-in">Sign in</span>
                <label for="email"></label>
                <input type="email" placeholder="Login" class="email" id="email">
                <label for="password"></label>
                <input type="password" placeholder="Password" class="password" id="password">
                <input type="submit" value="Sign in" class="submit-button">
            </form>


        </div>
    </div>
</main>
</body>
</html>
